apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: Applications/PetClinic-ear
  type: udm.Application
  lastVersion: "2.0"
  children:
  - name: "2.0"
    type: udm.DeploymentPackage
    deployables:
    - name: PetClinic
      type: jee.Ear
      scanPlaceholders: false
      preScannedPlaceholders: false
      file: !file "artifacts/Applications/PetClinic-ear/2.0/PetClinic/PetClinic-2.0.ear"
    dependencyResolution: LATEST
    undeployDependencies: "false"
- name: Applications/PetClinicEnv
  type: udm.Application
  lastVersion: 1.0.0
  children:
  - name: 1.0.0
    type: udm.ProvisioningPackage
    deployables:
    - name: jboss-instance-spec
      type: aws.ec2.InstanceSpec
      boundTemplates:
      - Applications/PetClinicEnv/1.0.0/jboss-host
      amiId: {{.AmiId}}
      region: {{.AWSRegion}}
      securityGroup:
      - {{.AWSSecurityGroup}}
      instanceType: t3a.small
      keyName: {{.KeyFileName}}
      instanceBootRetryCount: "5"
      shutdownBehavior: stop
      detailedMonitoring: "false"
      terminationProtection: "false"
      tenancy: default
      userData: |-
        #!/bin/bash
        export JAVA_HOME=/opt/bitnami/java
        /opt/bitnami/wildfly/bin/add-user.sh -u 'adminuser1' -p 'password1?' -g 'admin'
      elasticIpDomain: standard
    dependencyResolution: LATEST
    undeployDependencies: "false"
    templates:
    - name: jboss-host
      type: template.overthere.SshHost
      childTemplates:
      - name: jbossStandalone
        type: template.jbossdm.StandaloneServer
        home: /opt/bitnami/wildfly/
        port: "9990"
        enableDaemon: "true"
        commandExecutionMode: CLI_COMMANDS
        adminHostAddress: localhost
        username: adminuser1
        password: password1?
        cliScriptPrefix: jboss-cli
      os: UNIX
      puppetPath: /usr/local/bin
      connectionType: SUDO
      address: '{{"{{%publicHostname%}}"}}'
      port: "22"
      username: bitnami
      password: {{.AWSAccessSecret}}
      privateKeyFile: {{.KeyFilePath}}{{"{{%keyName%}}"}}.pem
      sudoUsername: root
