---
apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: Applications/PetPortal/2.1-2/Check-PetClinic-On-Appserver-Test
  type: smoketest.HttpRequestTest
  url: http://{{APPSERVER_HOST}}:{{APPSERVER_PORT}}/{{PETCLINIC_CONTEXT_ROOT}}
  expectedResponseText: Display all veterinarians
- name: Applications/PetPortal/2.1-2/Check-PetPortal-On-Webserver-Test
  type: smoketest.HttpRequestTest
  url: http://{{APACHE_HOST}}:{{APACHE_PORT}}/
  expectedResponseText: '{{PETPORTAL_TITLE}}'
- name: Applications/PetPortal/2.1-2/Check-PetPortal-to-PetClinic-ProxyPass-Test
  type: smoketest.HttpRequestTest
  url: http://{{APACHE_HOST}}:{{APACHE_PORT}}/{{PETCLINIC_CONTEXT_ROOT}}/
  expectedResponseText: Display all veterinarians
- name: Applications/PetPortal/2.1-2/PetClinic-ds-on-jboss
  type: jbossdm.DataSourceSpec
  jndiName: java:/jdbc/pets
  driverName: '{{DB_DRIVER}}'
  username: '{{DB_USERNAME}}'
  connectionUrl: '{{DB_URL}}'
- name: Applications/PetPortal/2.1-2/PetClinic-ear
  type: jee.Ear
  file: !file "artifacts/Applications/PetPortal/2.1-2/PetClinic-ear/PetClinic-1.0.ear"
- name: Applications/PetPortal/2.1-2/PetPortal-to-PetClinic-ProxyPass
  type: www.ApacheProxyPassSpec
  from: /{{PETCLINIC_CONTEXT_ROOT}}
  to: http://{{APPSERVER_HOST}}:{{APPSERVER_PORT}}/{{PETCLINIC_CONTEXT_ROOT}}
  reverse: "true"
- name: Applications/PetPortal/2.1-2/sql
  type: sql.SqlScripts
  file: !file "artifacts/Applications/PetPortal/2.1-2/sql/sql"
- name: Applications/PetPortal/2.1-2/webContent
  type: www.WebContent
  placeholders:
  - PETPORTAL_TITLE
  file: !file "artifacts/Applications/PetPortal/2.1-2/webContent/PetPortal_pages"
