---
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
- name: Infrastructure/Dev/AccServer-1
  type: overthere.LocalHost
  os: UNIX
  temporaryDirectoryPath: /tmp
  children:
  - name: MySql
    type: demo.MySql
    deploymentGroup: 1
    username: petportal
    databaseName: petportal
  - name: Apache
    type: demo.ApacheHttpdServer
    deploymentGroup: 1
    startCommand: echo starting
    startWaitTime: 0
    stopCommand: echo stopping
    stopWaitTime: 0
  - name: JBoss
    type: demo.JBoss
    deploymentGroup: 1
- name: Infrastructure/Dev/AccServer-2
  type: overthere.LocalHost
  os: UNIX
  temporaryDirectoryPath: /tmp
  children:
  - name: Apache
    type: demo.ApacheHttpdServer
    deploymentGroup: 1
    startCommand: echo starting
    startWaitTime: 0
    stopCommand: echo stopping
    stopWaitTime: 0
  - name: JBoss
    type: demo.JBoss
    deploymentGroup: 1
  - name: MySql
    type: demo.MySql
    deploymentGroup: 1
    username: petportal
    databaseName: petportal
- name: Infrastructure/Dev/Appserver-1
  type: overthere.SshHost
  tags:
  - appserver
  os: UNIX
  temporaryDirectoryPath: /tmp
  connectionType: SCP
  address: jboss1
  username: root
  children:
  - name: JBoss
    type: jbossdm.StandaloneServer
    home: /opt/wildfly
    port: 9990
- name: Infrastructure/Dev/Database-1
  type: overthere.SshHost
  tags:
  - dbserver
  os: UNIX
  temporaryDirectoryPath: /tmp
  connectionType: SCP
  address: mysql1
  username: root
  children:
  - name: MySql
    type: sql.MySqlClient
    username: root
    mySqlHome: /usr
    databaseName: mysql
- name: Infrastructure/Dev/DevServer-1
  type: overthere.LocalHost
  os: UNIX
  temporaryDirectoryPath: /tmp
  children:
  - name: JBoss
    type: demo.JBoss
    deploymentGroup: 1
  - name: Apache
    type: demo.ApacheHttpdServer
    deploymentGroup: 1
    startCommand: echo starting
    startWaitTime: 0
    stopCommand: echo stopping
    stopWaitTime: 0
  - name: MySql
    type: demo.MySql
    deploymentGroup: 1
    username: petportal
    databaseName: petportal
- name: Infrastructure/Dev/Docker
  type: docker.Engine
  dockerHost: https://localhost:2376
- name: Infrastructure/Dev/QAServer-1
  type: overthere.LocalHost
  os: UNIX
  temporaryDirectoryPath: /tmp
  children:
  - name: JBoss
    type: demo.JBoss
    deploymentGroup: 1
  - name: Apache
    type: demo.ApacheHttpdServer
    deploymentGroup: 1
    startCommand: echo starting
    startWaitTime: 0
    stopCommand: echo stopping
    stopWaitTime: 0
  - name: MySql
    type: demo.MySql
    deploymentGroup: 1
    username: petportal
    databaseName: petportal
- name: Infrastructure/Dev/QAServer-2
  type: overthere.LocalHost
  os: UNIX
  temporaryDirectoryPath: /tmp
  children:
  - name: MySql
    type: demo.MySql
    deploymentGroup: 1
    username: petportal
    databaseName: petportal
  - name: JBoss
    type: demo.JBoss
    deploymentGroup: 1
  - name: Apache
    type: demo.ApacheHttpdServer
    deploymentGroup: 1
    startCommand: echo starting
    startWaitTime: 0
    stopCommand: echo stopping
    stopWaitTime: 0
- name: Infrastructure/Dev/TestRunner-1
  type: overthere.LocalHost
  os: UNIX
  temporaryDirectoryPath: /tmp
  children:
  - name: TestRunner
    type: smoketest.Runner
- name: Infrastructure/Dev/WAS-host-1
  type: overthere.SshHost
  os: UNIX
  temporaryDirectoryPath: /tmp
  connectionType: SCP
  address: 10.20.10.11
  username: root
  children:
  - name: vagrantCell01
    type: was.DeploymentManager
    wasHome: /opt/IBM/WebSphere/AppServer/profiles/Dmgr01
    username: admin
    version: WAS_85
- name: Infrastructure/Dev/WAS-host-2
  type: overthere.SshHost
  os: UNIX
  temporaryDirectoryPath: /tmp
  connectionType: SCP
  address: 10.20.10.12
  username: root
  children:
  - name: vagrantCell01
    type: was.DeploymentManager
    wasHome: /opt/IBM/WebSphere/AppServer/profiles/Dmgr01
    username: admin
    version: WAS_85
- name: Infrastructure/Dev/WAS-host-3
  type: overthere.SshHost
  os: UNIX
  temporaryDirectoryPath: /tmp
  connectionType: SCP
  address: 10.20.10.13
  username: root
  children:
  - name: vagrantCell01
    type: was.DeploymentManager
    wasHome: /opt/IBM/WebSphere/AppServer/profiles/Dmgr01
    username: admin
    version: WAS_85
- name: Infrastructure/Dev/Webserver-1
  type: overthere.SshHost
  tags:
  - webserver
  os: UNIX
  temporaryDirectoryPath: /tmp
  connectionType: SCP
  address: apache1
  username: root
  children:
  - name: Apache
    type: www.ApacheHttpdServer
    startCommand: /usr/local/apache2/bin/httpd -k start
    startWaitTime: 5
    stopCommand: /usr/local/apache2/bin/httpd -k stop
    stopWaitTime: 0
    restartCommand: /usr/local/apache2/bin/httpd -k restart
    restartWaitTime: 0
    defaultDocumentRoot: /usr/local/apache2/htdocs
    configurationFragmentDirectory: /usr/local/apache2/conf/custom
- name: Infrastructure/Dev/Windows-1
  type: overthere.CifsHost
  connectionType: TELNET
  address: 172.16.92.135
  username: Administrator
  children:
  - name: petclinicdb
    type: sql.MsSqlClient
    tags:
    - petclinic
    serverName: win-s2008r2\sqlexpress
    databaseName: petclinicdb
  - name: iis
    type: iis.Server
  - name: tempdb
    type: sql.MsSqlClient
    serverName: win-s2008r2\sqlexpress
    databaseName: tempdb
